<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="styles/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="styles/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular-safeapply/safe-apply.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/configuration.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="fbIonic">
    <div id="fb-root"></div>
    <ion-pane>
      <ion-content>
        <div ng-controller="HomeCtrl as vm">
            <button ng-click="vm.loginFacebook()">Login</button>
            Hello {{vm.user.first_name}}!
            <button ng-click="vm.initAlbums()">Init Albums</button>
            <br />
            <span ng-repeat="album in vm.albums">
                <img ng-click="vm.displayPhotos(album.id)" ng-src="{{vm.getAlbumCoverSrc(album.id)}}"/>
            </span>
            <br />
            The photos:
            <span ng-repeat="photo in vm.photos">
                <img ng-src="{{photo.source}}"/>
            </span>
        </div>
      </ion-content>
    </ion-pane>
    <script src="scripts/cordova.js"></script>
    <script src="scripts/facebookConnect.js"></script>
  </body>
</html>
